

*{
    margin: 0;
    padding: 0 ;
    
}
.partnerships{
    height: 30px;
    display: flex;
    text-align: center;
    color: #fff;
    background-color:rgb(167, 14, 19);

}
.partnerships p{
  font-family:sans-serif;
  font-size: 20px;
}
.partnerships a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 8em;
  color: #fff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fff;
    color:#000;


}
.img_logo_header{
    width: 150px;

}
.header,
.navigation_header{
    display:flex ;
    flex-direction: row;
    align-items: center;

}
.header{
    background-color:/*#7a4f33*/#fff;
    box-shadow: 1px 1px 4px #FF0000;
    height: 70px;
    justify-content: space-between;
    padding: 0 10%;
    
}
.bag{
   font-size: 30px;
}
.navigation_header{
    gap: 3em;
 
}
.navigation_header a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
    font-weight: bold;

}

.content{
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;

}
.btn_icon_header{
    background-color: transparent;
    border: none;
    color:white;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:768px){
    .btn_icon_header{
        display: block;

    }
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #000;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation: 1s;
        margin-left: -10vw;
       
    }
}
@keyframes showSidebar{
    from {margin-left: -100vw;}
    top { margin-left: -10vw;}


}
 /* modal Home */
 .modal1 {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  
  }
  
  .modal-content1 {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    
  }
  
  .close1 {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
  }
  .modal1 {
    display: none;
    position: fixed;
    top: 0;
    left: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*modal 2*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border:none;
    width: 50%;
  }
  
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Estilos adicionais para o formulário */
  form {
    margin-top: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

 
  
  /*modal3*/
  .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content2 {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border:none;
    width: 50%;
  }
  
  .close2 {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Estilos adicionais para o formulário */
  form {
    margin-top: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }








.menu_categorias{ 
    background-color: #fff;
    box-shadow: 1px 1px 4px #977126;  
    border: 1px solid #7a4f33;    
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 30%;
    font-size: 20px;
    
   
}
.menu_categorias a{
   text-decoration: none;
   padding: 2em;
   color: #000;   
  
   
} 
.informImportante{
    text-align: center;
    display: flex;
    padding: 5px;
    background-color: #ded0b2;


}
.informImportante p{
   font-size: 20px;
   padding-left: 9em;

}


/* estilizando os cards*/
body{
    background-color: #fff;
 

}
.container{
    /*padding: 50px;*/
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.card{
    width: 300px;
    height:460px ;
    margin: 25px;
    background-color:#fff;
    border-radius:20px ;
    overflow: hidden;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.7) ;
    transition: 0.3s;
}
.card-header{
    width: 100%;
    height:200px;
    overflow: hidden;
}
.card-img{
    min-width: 100%;
    width: auto;
    height: 100%;
}
.card-body{
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}
.card-tamanho{
    font-size: 16px;
    margin: 10px 0;
}
.card-titulo{
    font-size:32px ;
    margin: 15px 0;
}
.card-texto{
    font-size:12px;
    width:250px; 
    margin: 0 auto;
}

.card-footer{
    margin-top:10px;
    text-align: center;
    background-color:#ded0b2;

}
.card-footer a{
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;

}
/*animação do card*/
.card:hover{
    transform: scale3d(1.1,1.1,1);
}

footer {
    background-color:#000/* #7a4f33*/ ;
    text-align: center;
    padding: 20px;
    color: #fff;
   
 
}
.instagram{
    color: #fff;
}


