*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.img_logo_header{
    width: 150px;

}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.header{
    
   background-color: #fff;
   box-shadow: 1px 1px 4px rgb(167,14,19);
   justify-content: space-between;
   padding: 0 10%;
}
.navigation_header{
    gap: 3em;
}
.navigation_header a{
    text-decoration: none;
    color: #000;    
    font-weight: bold;
}

.btn_icon_header{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:768px) {
    
    .btn_icon_header{
        display: none;
    }
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color:#ca0f0f;
        height: 100%;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;

    }
}
@keyframes showSidebar {
    from{margin-left:-100vw ;}
    top{margin-left: -10vw;}
    
}
h3{
    font-size: 50px;

}

.container{
  max-width: 1400px;
  margin: 0 auto; 
}
.btn{
    background-color:#e8e2e2 ;
    color:#000;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display:inline-block;
    transition: 0.1s;
}
.btn:hover{
    background-color:#e8e2e2;
}
    
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

}
/*modal cadastro*/
/* Estilo para o botão de abertura do modal */
.btn1 {
    background-color: #e8e2e2;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

/* Estilo para o cabeçalho do modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilo para o botão de fechar do modal */
.close {
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

/* Estilo para o formulário no corpo do modal */
form {
    display: flex;
    flex-direction:column;
   
}

/* Estilo para os campos de entrada no formulário */
.form-group {
    margin-bottom: 10px;
}

/* Estilo para o botão de cadastro no formulário */
.btn1 {
    background-color:#e8e2e2 ;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo para o botão de cadastro no formulário quando hover */
.btn1:hover {
    background-color: #b90a0a;
}
/*Modal login*/
.modal1{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close1 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #e8e2e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b90a0a;
}
    
/*banner*/
.banner{
    display:flex;
    justify-content:center ;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;

}
.banner .banner-text h1{
    font-size: 96px;
    color: #ffff;
}
.banner .banner-text p{
    font-size: 20px;
    color:#ffff;
    font-weight: lighter;
    margin:18px 0 ;


}

/*pagina vendas*/
.products .container{
   
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.products .products_text{
    width: 50%;
    padding-right: 40px;
}
.products .products_text p{
    margin:18px 0 ;
    color: #000000a6;

}
.products .products_img{
    width: 50%;

}
.products .products_img{
    border-radius: 10px;
}








/*cards exibição de produtos*/

.products_ecommerce{
    text-align: center;
}
.products_ecommerce .container >p{
    text-align: center;
   

}
.products_ecommerce .rows_cards{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    flex-wrap: wrap;
   

   

}
.products_ecommerce .row_cards_item{
    background-color: #e8e2e2;
    width: 350px;
    padding: 20px;
    border-radius:14px ;
    margin: 30px;
    transition: 0.3s;

}
.products_ecommerce .row_cards_item:hover p{
    color: #fff;

}

.products_ecommerce .row_cards_item img{
    border-radius: 20px;
    
}.products_ecommerce .row_cards_item:hover{
    background-color: #ca0f0f;

}
.products_ecommerce .row_cards_item p.name_product{
    margin: 5px 0;
    font-size: 25px;
    transition: 0.3s;
}
.products_ecommerce .row_cards_item .description_product p{
    font-size: 20px;
    transition:0.3s ;

}
/*regulamentos*/
.regulations h3,
.regulations p{
    text-align: center;
}
.regulations .container img{
    width: 100PX;
}
.regulations .container div{
    display:flex ;
    align-items: center;
    justify-content: space-around;
   
}





