
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none ;
    outline: none;
    font-family: 'Inter', sans-serif;

}
body{
    background-color:#ffff ;
}
.logo_minotauro{
    width: 250px;
}
section,
footer{
    padding: 54px 0;
    

}
h3{
    font-size: 50px;

}

.container{
  max-width: 1400px;
  margin: 0 auto; 
}
.btn{
    background-color:#e8e2e2 ;
    color:#000;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display:inline-block;
    transition: 0.1s;
}
.btn:hover{
    background-color:#e8e2e2;
}
    
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color:#000;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;

}







/*inicio banner*/
.banner{
    display:flex;
    justify-content:center ;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;

}
.banner .banner-text h1{
    font-size: 96px;
    color: #ffff;
}
.banner .banner-text p{
    font-size: 20px;
    color:#ffff;
    font-weight: lighter;
    margin:18px 0 ;


}
/* faca mais*/
.faca-mais .container{
    display: flex;
    align-items: center;
  
}
.faca-mais .faca-mais-text{
    width: 50%;
    padding:0 40px ;
}
.faca-mais .faca-mais-text h3{
    font-size: 56px;
}
.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;
}

.faca-mais .faca-mais-img{
    width: 50%;
    

}
.faca-mais .faca-mais-img img{
    width: 100%;
    border-radius: 30px;
}
/*parceiros*/
.partners h3,
.partners p{
    text-align: center;
}
.partners .container img{
    width: 150PX;
}
.partners .container div{
    display:flex ;
    align-items: center;
    justify-content: space-around;
   
}
/*parceiros*/


/*depoimentos*/
.testmone h3{
    text-align: center;

}
.testmone p{
    margin-bottom: 20px;
    text-align: center;

}
.cards{
    display: flex;
    justify-content: center;
}
.testmone .card-item{       
    background-color: #e8e2e2;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;


}
.testmone .card-item img{
    border-radius: 100%;
}  
.testmone .card-item .name-user{
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;


}
.testmone .card-item .testmone-user{
    font-size:15 px;
    padding:0 15 ;
}

/**depoimentos/
